body {
  background-image: image-url('explosion.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: white;
  font-weight: 900;
  h1 {
    font-size: 120px;
  }
}